@font-face {
	font-family: "GothamBold";
	src: url("../fonts/Gotham Bold/ufonts.com_gotham-bold.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "GothamThin";
	src: url("../fonts/Gotham Thin/ufonts.com_gotham-thin.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/Roboto Regular/roboto-regular_[allfont.ru].ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/Roboto Bold/Roboto-Bold.ttf");
	font-style: normal;
	font-weight: normal;
}
